$ionicons-font-path: "../lib/ionic/fonts" !default;
@import "../www/lib/ionic/scss/ionic";

// app sass
.logo {
    width: 150px;
    height: 150px;
    margin: 50px auto;
    display: block;
    border-radius: 150px;
}
